<main>
    <header>
        <div class="header-container">
            <div class="header-img">
                <img src="img/lotus-978659_1280.jpg" alt="">
            </div>

            <ul>
                <a href="#">
                    <li (click)="basicAlgoritmsSelected()">Algoritmos Basicos</li>
                </a>
                <a href="#">
                    <li (click)="intermediateAlgoritmsSelected()">Algortimos Intermedios</li>
                </a>
                <a href="#">
                    <li (click)="technicalTestSelected()">Pruebas Tecnicas</li>
                </a>
            </ul>
        </div>
        <div class="tittle-container">
            <div class="custom-hr"></div>
            <h1>{{ bodyTittle }}</h1>
            <div class="custom-hr"></div>
        </div>
    </header>
</main>
