section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
    margin: auto;
    width: 90vw;
    gap: 20px;
}

section .card {
    width: 100%;
    height: 450px;
    background-color: var(--header-color);
    border: solid 1px #cecece;
    border-radius: 30px;
    margin-top: 3px;
}

  /* Media Queries para diferentes tamaños de pantalla
  @media (min-width: 1200px) {
    .card {
      width: calc(33% - 10px); /* 4 tarjetas por fila 
    }
  }
  
  @media (min-width: 900px) and (max-width: 1199px) {
    .card {
      width: calc(33.33% - 10px); /* 3 tarjetas por fila 
    }
  }
  
  @media (min-width: 600px) and (max-width: 899px) {
    .card {
      width: calc(50% - 10px); /* 2 tarjetas por fila
    }
  }
  
  @media (max-width: 599px) {
    .card {
      width: 100%;  1 tarjeta por fila
    }
  } */